
@{
    ViewData["Title"] = "Hồ sơ của tôi";
}

@model ShopeeViewModel

@* Nếu ta khai báo cho nhưng model đơn lẻ thì có IEnumerable *@

<link rel="stylesheet" href="~/css/profile.css">

<div class="app__container">
    <div class="grid wide">
        <div class="row">
            <div class="col l-2 m-0 c-0">
                <div class="profile__left">
                    <div class="profile__left-header">
                        @foreach (var user in Model.UserInfos) {
                            <img src="~/img/@user.sImageProfile" alt="" class="profile__left-avatar">
                            <div class="profile__left-account">
                                <div class="profile__left-account-name">@user.sEmail</div>
                                <div class="profile__left-account-edit"><i class="uil uil-pen"></i>Chỉnh sửa</div>
                            </div>
                        }
                    </div>
                    <div class="profile__left-body">
                        <ul class="profile__left-list">
                            <li class="profile__left-item">
                                <a href="" class="profile__left-link">
                                    <i class="uil uil-user"></i> Tài khoản của tôi
                                </a>
                            </li>
                            <li class="profile__left-item">
                                <a href="" class="profile__left-link">
                                    <i class="uil uil-clipboard-notes"></i> Đơn mua
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col l-10 m-12 c-12">
                <div class="profile">
                    <div class="profile__header">
                        <div class="profile__title">Hồ sơ của tôi</div>
                        <div class="profile__subtitle">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
                    </div>
                    <div class="profile__avatar">
                        @foreach (var user in Model.UserInfos) {
                            <img height="100" src="~/img/@user.sImageProfile" alt="" class="profile__avatar-img">
                        }
                        <input type="button" onclick="picImage(this)" class="profile__avatar-upload" value="Chọn ảnh">
                        <div class="profile__avatar-sub">Dung lượng file tối đa 1MB <br> Định dạng: .JPG, .PNG</div>
                    </div>
                    <form action="" class="profile__info">
                        <table class="profile__table">
                            @foreach (var user in Model.UserInfos) {
                                <tr class="">
                                    <td>Tên đăng nhập</td>
                                    <td>
                                        <input type="text" readonly value="@user.sUserName" class="profile__input-username">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên đầy đủ</td>
                                    <td>
                                        <input type="text" value="@user.sFullName" class="profile__input-fullname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Giới tính</td>
                                    <td class="">
                                        <div class="profile__table-box">
                                            <span>
                                                @if (@user.iGender == 1) {
                                                    <input type="radio" name="gender" value="1" checked id="">
                                                } else {
                                                    <input type="radio" name="gender" value="1" id="">
                                                }
                                            </span>
                                            <label for="">Nam</label>
                                            <span>
                                                @if (@user.iGender == 0) {
                                                    <input type="radio" name="gender" value="0" checked id="">
                                                } else {
                                                    <input type="radio" name="gender" value="0" id="">
                                                }
                                            </span>
                                            <label for="">Nữ</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngày sinh</td>
                                    <td><input type="date" name="" value="@user.dDateBirth.ToString("yyyy-MM-dd")" id="" class="profile__input-birth"></td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td><button type="button" onclick="updateProfile()" class="btn btn--primary">Cập nhật</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            
        </div>
    </div>
<script src="~/js/profile.js"></script>